<div class="chat-body-wrapper">
  @if(chatData()) {
    <app-chat-body-header [receiverData]="receiverData()"></app-chat-body-header>
  }
  @else {    
    <div class="chat-header"> </div>

    <div class="select-chat-message">
      <p>Select a chat to start messaging</p>
    </div>
  } 

  @if(chatData()) {
    <div #messagesContainer class="messages-container">
      <app-messages-container 
        [messages]="messages()"
        [userId]="user()?._id || ''"
        [receiverData]="receiverData()!"
        [chatId]="chatData()?._id || ''"
      ></app-messages-container>
    </div>

    <app-message-input 
      [userId]="user()?._id || ''"
      [chatId]="chatData()?._id || ''"
    ></app-message-input>
  }
</div>
