# Dependencies
**/node_modules

# Environment
**/.env

# IDE
.idea/
.vscode/
*.sublime-*

# Logs
*.log
npm-debug.log*

# Build & cache
/client/dist
/client/.angular/cache
/client/.sass-cache
/dist

# OS
.DS_Store
Thumbs.db
