<div class="chat-list-item-wrapper" (click)="clickDialog()">
  <div class="item-user-profile">
    <app-profile-img [profileImg]="receiverUserPhoto"></app-profile-img>
  </div>

  <div class="item-message">
    <h2 class="item-name">{{ receiverId.firstName + ' ' + receiverId.secondName }}</h2>
    <div>
      @if(this.chat()?.lastMessage) {
        <p class="item-text">{{ this.chat()?.lastMessage?.content }}</p>
      } @else {
        <p class="item-text">Text me your first message!</p>
      }
    </div>
  </div>

  <div class="item-actions">
    <div class="item-time">
      <span class="time">{{ this.chat()?.lastMessage?.createdAt | date:'shortTime' }}</span>
    </div>
    <div class="action-buttons">
      <button 
        class="edit-btn"
        (click)="showEditDialog($event)"
        [disabled]="isDeleting"
      >
        <span class="material-symbols-outlined">edit</span>
      </button>
      <button 
        class="delete-btn" 
        (click)="deleteChat($event)"
        [disabled]="isDeleting"
      >
        <span class="material-symbols-outlined">delete</span>
      </button>
    </div>
  </div>
</div>

<app-edit-chat-dialog #editDialog></app-edit-chat-dialog>
