<div class="message-from">
  <app-profile-img></app-profile-img>

  <p class="message-text-from">Queckly come to the meeting room 1B, we have a big server issue</p>

  <span class="message-time-to"> 4/22/17. 4:00 AM </span>
</div>

<div class="message-to">
  <p class="message-text-to">Queckly come to the meeting room 1B, we have a big server issue</p>

  <span class="message-time-from"> 4/22/17. 4:00 AM </span>
</div>

<div class="message-from">
  <app-profile-img></app-profile-img>

  <p class="message-text-from">Queckly come to the meeting room 1B, we have a big server issue</p>

  <span class="message-time-to"> 4/22/17. 4:00 AM </span>
</div>

<div class="message-to">
  <p class="message-text-to">Queckly come to the meeting room 1B, we have a big server issue</p>

  <span class="message-time-from"> 4/22/17. 4:00 AM </span>
</div>

<div class="message-from">
  <app-profile-img></app-profile-img>

  <p class="message-text-from">Queckly come to the meeting room 1B, we have a big server issue</p>

  <span class="message-time-to"> 4/22/17. 4:00 AM </span>
</div>

<div class="message-to">
  <p class="message-text-to">Queckly come to the meeting room 1B, we have a big server issue</p>

  <span class="message-time-from"> 4/22/17. 4:00 AM </span>
</div>

<div class="message-from">
  <app-profile-img></app-profile-img>

  <p class="message-text-from">Queckly come to the meeting room 1B, we have a big server issue</p>

  <span class="message-time-to"> 4/22/17. 4:00 AM </span>
</div>

<div class="message-to">
  <p class="message-text-to">Queckly come to the meeting room 1B, we have a big server issue</p>

  <span class="message-time-from"> 4/22/17. 4:00 AM </span>
</div>
